<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'styles.css') }}" />
    <script type = text/javascript src="{{ url_for('static', filename='jquery-2.2.0.min.js') }}">
    </script>
    <script>
        $( document ).ajaxStart(function() {
            $("#loading").show();
            console.log("AJAX start");
        });
        $( document ).ajaxStop(function() {
            $("#loading").hide();
            console.log("AJAX stop");
        });
    </script>
    {% block head %}
    {% endblock %}
</head>

<body {% block onload %} {% endblock %}>
<div class = "top-navigation">
    <ul >
        <li><a href = "{{ url_for('listLibrary')}}" id = "nav-listen">Listen</a></li>
        <li><a href = "{{ url_for('listTags') }}" id = "nav-organize">Organize</a></li>
        <li>
            <a href = "{{ url_for('browseFiles', path = '/Users/scotclose/Development/repositories/music-player/static') }}" id = "nav-find">Scan</a>
        </li>
    </ul>
    {% block navigation %}
    {% endblock %}
</div>

<div class = "main">
    <div class = "left">
        {% block left %}
        {% endblock %}
    </div>
    <div class="right">
        <div style="display:none" id="loading">Loading...</div>
        {% block right %}
        {% endblock %}
    </div>
</div>
</body>
</html>
