{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <title>Edit {{ track.name }}</title>
    {% endblock %}
</head>
<body>
    {% block left %}
    <h1>Edit Track</h1>
    <form action="{{ url_for('editTrack', track_id = track.id) }}" method="post">
        <p><label for="title">Title: </label>
            <input type="text" name="title" id="title"  value="{{ track.title }}" size = 150/></p>
        <p><label for="performer">Performer: </label>
            <input type="text" name="performer" id="performer"  value="{{ track.performer }}"/></p>
        <p><label for="album">Album: </label>
            <input type="text" name="album" id="album"  value="{{ track.album }}"/></p>
        <p><label for="track_number">Track Number: </label>
            <input type="text" name="track_number" id="track_number"  value="{{ track.track_number }}"/></p>
        <p><label for="rating">Rating: </label>
            <input type="text" name="rating" id="rating"  value="{{ track.rating }}"/></p>
        <p><label for="path">Path: </label>
            <input type="text" name="path" id="path"  value="{{ track.path }}" size = 150 /></p>
        <p><label for="transitions_to">Transitions to: </label>
            <input type="text" name="transitions_to" id="transitions_to"  value="{{ track.transitions_to }}"/></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
    {% endblock %}
</body>
</html>
