{% extends "base.html" %}

{% block head %}
    <title>Edit Album</title>
    <script>
        $(function() {
            $("#nav-organize").addClass("selected");
        });
    </script>
{% endblock %}

{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listPerformers') }}">Performers</a></li>
        <li><a href = "{{ url_for('listAlbums') }}" class = "selected">Albums</a></li>
        <li><a href = "{{ url_for('listTags') }}">Tags</li>
        <li><a href = "{{ url_for('listTracks') }}">Tracks</a></li>
    </ul>
{% endblock %}

{% block left %}
    <h1>Edit Album</h1>

    <form action="{{ url_for('editAlbum', album_id = album.id) }}" method="post">
        <p><label for="title">Title: </label><input type="text" name = "title" id = "title"  value = "{{ album.title }}"/></p>
        <p><label for="Year">Year: </label><input type="text" name = "year" id = "year"  value = "{{ album.year }}"/></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
{% endblock %}

