{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <script>
    $(function() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        $.getJSON($SCRIPT_ROOT + '/_ajax_test', { }, function(data) {
            $("#result").text(data.result);
        })
        }
    )
    </script>
    {% endblock %}
</head>
<body>
    {% block body %}
    <p id="result"></p>
    <ul>
        <li><a href="{{ url_for('playlist') }}">Playlists</a></li>
        <li><a href="{{ url_for('listPerformers') }}">Performers</a></li>
    </ul>
    {% endblock %}
</body>
</html>
