{% extends "base.html" %}
    {% block head %}
    <title>Music Player</title>
    {% endblock %}

    {% block left %}
    {{ error }}
    <h2>Listen</h2>
    <ul>
        <li><a href = "{{ url_for('listLibrary') }}">Show album library orgainzed by Performer</a></li>
        <li><a href = "{{ url_for('playRandomAlbum') }}">Play a random album</a></li>
        <li><a href = "{{ url_for('playTags') }}">Play tracks by tag</a></li>
        <li><a href = "{{ url_for('playUnratedTracks') }}">Play unrated tracks</a></li>
    </ul>
    <h2>Organize</h2>
    <ul>
         <li><a href="{{ url_for('listPerformers') }}">List Performers</a></li>
         <li><a href="{{ url_for('listAlbums') }}">List Albums</a></li>
         <li><a href="{{ url_for('listTags') }}">List Tags</a></li>
         <li><a href="{{ url_for('listTracks') }}">List Tracks</a></li>
    </ul>

    <h3>Scan</h3>

    {% endblock %}
