{% extends "base.html" %}
{% block head %}
    <title>List Tracks with Tag</title>
    <script>
        $(function() {
            $("#nav-organize").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listPerformers') }}">Performers</a></li>
        <li><a href = "{{ url_for('listAlbums') }}">Albums</a></li>
        <li><a href = "{{ url_for('listTags') }}" class = "selected">Tags</li>
        <li><a href = "{{ url_for('listTracks') }}">Tracks</a></li>
    </ul>
{% endblock %}
{% block left %}
    <h1>{{ tag.name }} Tracks</h1>
    <ul>
        {% for track in tracks %}
        <li>
            <a href="{{ url_for('removeTagFromTrack', tag_id = tag.id, track_id = track.id) }}"><button type="button">Remove tag</button></a>
            &nbsp;{{ track.title }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
