{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <title>Album List</title>
    {% endblock %}
</head>
<body>
    {% block left %}
    <h1>Album list</h1>
    <a href = "{{ url_for('playRandomAlbum')}}"><button type = "button">Random</button></a>
    <ul>
        {% for album in albums %}
        <li>
            <a href="{{ url_for('editAlbum', album_id = album.id) }}">{{ album.title }}</a><br />
            <a href="{{ url_for('playAlbum', album_id = album.id) }}">
                <button type="button">Play</button>
            </a>
            <a href="{{ url_for('deleteAlbum', album_id = album.id) }}">
                <button type="button">Delete</button>
            </a>
            </a>
            <a href = "{{ url_for('tagAlbum', album_id = album.id) }}"><button type = "button">Tag All Tracks</button></a>
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
