{% extends "base.html" %}
{% block head %}
    <title>Tags</title>
    <script>
        $(function() {
            $("#nav-organize").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listPerformers') }}">Performers</a></li>
        <li><a href = "{{ url_for('listAlbums') }}">Albums</a></li>
        <li><a href = "{{ url_for('listTags') }}" class = "selected">Tags</li>
        <li><a href = "{{ url_for('listTracks') }}">Tracks</a></li>
    </ul>
{% endblock %}
{% block left %}
    <h1>Tags</h1>
    <p><a href="{{ url_for('newTag') }}"><button type="button">New</button></a></p>
    <ul>
        {% for tag in tags %}
        <li><a href="{{ url_for('listTagTracks', tag_id = tag.id) }}">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

