{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <title>List Tracks</title>
    {% endblock %}
</head>
<body>
    {% block left %}
    <ul>
        {% for track in tracks %}
        <li>
            <a href="{{ url_for('trackDetails', track_id = track.id) }}">
                {{ track.title }}
            </a><br />
            <a href="{{ url_for('editTrack', track_id = track.id) }}">
                <button type="button">Edit</button>
            </a>&nbsp;
            <a href="{{ url_for('deleteTrack', track_id = track.id) }}">
                <button type="button">Delete</button>
            </a>
            &nbsp;Last Played: {{ track.last_played }}
        </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
