{% extends "base.html" %}
{% block head %}
    <title>Performers</title>
    <script>
        $(function() {
            $("#nav-organize").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listPerformers') }}" class = "selected">Performers</a></li>
        <li><a href = "{{ url_for('listAlbums') }}">Albums</a></li>
        <li><a href = "{{ url_for('listTags') }}">Tags</li>
        <li><a href = "{{ url_for('listTracks') }}">Tracks</a></li>
    </ul>
{% endblock %}

{% block left %}
    <h1>Performers</h1>
    <p><a href="{{ url_for('newPerformer') }}"><button type="button">New</button></a></p>
    <ul>
    {% for performer in performers %}
    <li>{{ performer.sort_name }}<br />
        <a href="{{ url_for('editPerformer', performer_id = performer.id) }}">
            <button type="button">Edit</button>
        </a>&nbsp;
        <a href="{{ url_for('tagAllPerformerTracks', performer_id = performer.id) }}">
            <button type="button">Tag All Performer Tracks</button>
        </a>&nbsp;
        <a href="{{ url_for('deletePerformer', performer_id = performer.id) }}">
            <button type="button">Delete</button>
        </a>
    </li>
    {% endfor %}
    </ul>
{% endblock %}

