{% extends "base.html" %}
{% block head %}
    <title>Tracks with Tag</title>
    <script>
        $(function() {
            $("#nav-organize").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listPerformers') }}">Performers</a></li>
        <li><a href = "{{ url_for('listAlbums') }}" class = "selected">Albums</a></li>
        <li><a href = "{{ url_for('listTags') }}">Tags</li>
        <li><a href = "{{ url_for('listTracks') }}">Tracks</a></li>
    </ul>
{% endblock %}
{% block left %}
    <h1>Album list</h1>
    <a href = "{{ url_for('playRandomAlbum')}}"><button type = "button">Random</button></a>
    <ul>
        {% for album in albums %}
        <li>
            {{ album.title }}<br />
            <a href = "{{ url_for('editAlbum', album_id = album.id) }}">
                <button type = "button">Edit</button></a>
            <a href="{{ url_for('playAlbum', album_id = album.id) }}">
                <button type = "button">Play</button>
            </a>
            <a href="{{ url_for('deleteAlbum', album_id = album.id) }}">
                <button type = "button">Delete</button>
            </a>
            </a>
            <a href = "{{ url_for('tagAlbum', album_id = album.id) }}"><button type = "button">Tag All Tracks</button></a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
