{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <script>

    var playlist = new Array();
    var track_num = 0;
    var audio_element;
    var playing_element;

    function init(){
        audio_element = document.getElementById("audio");
        playing_element = document.getElementById("playing");
        make_playlist();
        start_playlist();
    }

    // Convert the JSON array into local URLs
    function make_playlist(){
        {% for track in data %}
            track = new Object();
            track.name = "{{ track.name }}";
            track.path = "{{ url_for('static', filename = track.path) }}";
            playlist.push(track);
            var item = document.createElement("li");
            var textnode = document.createTextNode("{{ track.name }}");
            item.appendChild(textnode);
            playing_element.appendChild(item);
        {% endfor %}
    }

    function shuffle(input_array){
        var shuffled_array = new Array();
        var track;
        while(input_array.length > 0){
            rand = Math.floor(Math.random() * input_array.length);
            console.log(input_array.length + ", " + rand);
            track = input_array.splice(rand, 1);
            var clone = new Object();
            clone.name = track.name;
            clone.path = track.path
            shuffled_array.push(clone);
        }
        return shuffled_array;
    }

    // Play the first track
    function start_playlist() {
        audio_element.src = playlist[track_num].path;
        //playing_element.innerHTML = playlist[track_num].title;
        audio_element.play();
    }

    // Play next track
    function next_track() {
        if (track_num < playlist.length) {
            track_num = track_num + 1;
            audio_element.src = playlist[track_num].path;
            //playing_element.innerHTML = playlist[track_num].title;
            audio_element.play();
        }
    }

</script>
{% endblock %}
</head>
<body {% block onload %} onload = "init()" {% endblock %} >
    <h1>Playlist</h1>
    {% block body %}
    <p><a href="{{ url_for('home') }}">Home</a></p>
    <h1>Playlist</h1>
    <audio controls id="audio" onended="next_track()" ></audio>
    <ul id="playing"></ul>
    {% endblock %}
</body>
</html>
