{% extends "base.html" %}
{% block head %}

    <title>Play Album</title>
    <script>
        $(function() {
            $("#nav-listen").addClass("selected");
        });
    </script>
    <script>
    var playlist = new Array();
    var track_num;

    $(function() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        track_num = 0;
        make_playlist();

        $('#submit_change').click (
            function() {
                $("#loading").text("Saving track...");
                var tags = new Array();
                $("#tag_select").each(function(){
                    tags.push($(this).val());
                });
                $.getJSON('/_ajax_save_track', {
                    track_id: $('input[name = "track_id"]').val(),
                    track_rating: $('#track_rating :selected').val(),
                    track_number: $('#track_number').val(),
                    track_tags: JSON.stringify(tags),
                    track_title: $('input[name = "track_title"]').val()
                },
                function(data) {
                    console.log(data.response);
                });
                $('#track_details').hide();
            }
        );
        $('#cancel_change').click ( function() {
            $('#track_details').hide();
        });
        next_track();
    });

    // Convert the JSON array into local URLs
    function make_playlist(){
        {% for track in tracks %}
            track{{ track.id }} = new Object();
            track{{ track.id }}.title = "{{ track.title }}";
            track{{ track.id }}.id = "{{ track.id }}";
            track{{ track.id }}.track_number = "{{ track.track_number }}";
            track{{ track.id }}.rating = "{{ track.rating }}";
            track{{ track.id }}.path = "{{ track.path|safe }}";
            playlist.push(track{{ track.id }});
            var item = document.createElement("li");
            item.id = "track_" + track{{ track.id }}.id;
            var html_title = "{{ track.title }}".replace("&#39;", "\u2019");
            var textnode = document.createTextNode(html_title + " ({{ track.rating }})");
            item.appendChild(textnode);
            $("#track_list").append(item);

            // Set up listener for track edit
            $('#track_{{ track.id }}').click (
                function()
                {
                    edit_track(track{{ track.id }})
                });
            // For reference: https://www.google.com/search?q={{title}}+lyrics
        {% endfor %}
    }

    function edit_track(track){
        $("#loading").text("Getting track data...");
        // Populate track edit fields
        $('#track_path').text(track.path);
        $('#tag_select').find('option').remove();
        $('#track_details').show();
        $('#track_title').val(track.title);
        $('#track_number').val(track.track_number);
        $('#track_id').val(track.id);

        // Send AJAX request
        $.getJSON('/_ajax_edit_track', { "track_id": track.id },
            function(data) {
            // Get current track statistics
            var track_title = data['title'];
            // var times_played = data['times_played'];
            // var last_played = data['last_played'];
            var track_number = data['track_number'];
            var rating = data['rating'];
            var selected_tags = JSON.stringify(data['selected_tags']);
            var all_tags = data['all_tags'];
            $("#track_rating").val(data.rating);

            $('#tag_select').attr('size', all_tags.length);
            // Populate select with available tags
            console.log("selected tags:");
            console.log(selected_tags);
            for (var i = 0; i < all_tags.length; i++) {
                var current_tag = data["all_tags"][i];
                if (selected_tags.indexOf(current_tag[1]) > 0) {
                    $('#tag_select').append($("<option selected></option>")
                        .attr("value", current_tag[0]).text(current_tag[1]));
                } else {
                    $('#tag_select').append($("<option></option>")
                        .attr("value", current_tag[0]).text(current_tag[1]));
                }
            }
        }).success().error(function() { alert("AJAX error"); }).complete();
    }

    // Play next track
    function next_track() {
        if (track_num < playlist.length) {
            // Update last played and times played
            var path = playlist[track_num].path;
            var img_path = "/" + path.substr(1, path.lastIndexOf('/')) + "cover.jpg";
            $("#album_cover").attr("src", img_path);
            $("#loading").text("Updating track history...");
            $.getJSON('/_ajax_track_played', { "track_id": playlist[track_num].id }, function(data) {
                console.log("History updated");
                });
            $("#audio").attr("src", path);
            var display_name = playlist[track_num].title.replace("&#39;", "\u2019");;
            $("#playing").text(display_name);
            try {
                $("#audio").trigger("play");
            } catch(err) {
                console.log("error playing track: " + path + " " + err);
            }
            track_num = track_num + 1;
        } else {
            {% if random %}
                self.location="{{ url_for('playRandomAlbum') }}";
            {% endif %}
        }
    }
    </script>
{% endblock %}

{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listLibrary')}}">Library</a></li>
        <li><a href = "{{ url_for('playRandomAlbum')}}">Random Album</a></li>
        <li><a href = "{{ url_for('playTags') }}">Tag</a></li>
        <li><a href = "{{ url_for('playUnratedTracks') }}">Unrated</a></li>
    </ul>
{% endblock %}

{% block left %}
    {% if album_title %}
        <h1>{{ album_title|safe }}</h1>
    {% endif %}
    {% if album_performer %}
        <h2>{{ album_performer }} ({{ album_year}})</h2>
    {% endif %}
    <h3 id = "playing"></h3>
    <div style = "display: flex; align-items: center;">
        <audio controls id = "audio" onended = "next_track()" ></audio>
        <a href="javascript:next_track();"><button type="button">Next</button></a>
    </div>

    <ol id = "track_list"></ol>
{% endblock %}

{% block right %}
    <div id = "track_details" style = "display: none; margin-left: 1em">
        <h3>Edit Track</h3>
        <button type = "button" id = "submit_change">Submit</button>&nbsp;
        <button type = "button" id = "cancel_change">Cancel</button>
        <p id = "track_path" style="color: #888;"></p>
        <input type = "hidden" name = "track_id" id = "track_id"/>
        <label for="track_title">Title:&nbsp;</label>
            <input type = "text" name = "track_title" id = "track_title" size = 30 />
        <label for="track_number">Track #:&nbsp;</label>
            <input type = "text" name = "track_number" id = "track_number" size = 3 />
        <div style = "float:left; margin-top:1em;"><label for="track_rating">Rating:</label><br />
        <select name = "track_rating" id = "track_rating" size = 4 >
            <option value = "1">Ridiculous</option>
            <option value = "2">Meh</option>
            <option value = "3">Decent</option>
            <option value = "4">Sublime</option>
        </select>
        </div>
        <div style = "float:right; margin-top:1em;"><label for="tag_select">Tags:</label><br />
            <select multiple name = "tag_select" id = "tag_select" ></select>
        </div>
    </div>
    <img src = "" id = "album_cover" alt = "No album cover found" width="500px" />
{% endblock %}
