{% extends "base.html" %}
{% block head %}
    <title>Play Tag</title>
    <script>
        $(function() {
            $("#nav-listen").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listLibrary')}}">Library</a></li>
        <li><a href = "{{ url_for('playRandomAlbum')}}">Random Album</a></li>
        <li><a href = "{{ url_for('playTags') }}" class = "selected">Tag</a></li>
    </ul>
    {% endblock %}
    {% block left %}
    <h1>Tag list</h1>
    <ul>
        {% for tag in tags %}
        <li>
            <a href="{{ url_for('playTagTracks', tag_id = tag.id) }}">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
