{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <script>

    var playlist = new Array();
    var audio_element;
    var playing_element;
    var track_num;

    function init(){
        audio_element = document.getElementById("audio");
        playing_element = document.getElementById("playing");
        track_num = 0;
        make_playlist();
        // start_playlist();
        next_track();
    }

    // Convert the JSON array into local URLs
    function make_playlist(){
        track_list = document.getElementById("track_list");
        console.log("Creating playlist");
        {% for track in tracks %}
            track = new Object();
            track.title = "{{ track.title }}";
            console.log("adding track to playlist: " + track.title);
            console.log("Adding path: {{ track.path }}");
            var temp_path = "{{ track.path }}".replace("&#39;","'");
            temp_path = temp_path.replace("&amp;", "&");
            track.path = temp_path;

            // track.path = "{{ url_for('static', filename = track.path) }}";
            playlist.push(track);
            var item = document.createElement("li");
            var textnode = document.createTextNode("{{ track.title }}".replace("&#39;","'").replace("&amp;", "&"));
            item.appendChild(textnode);
            track_list.appendChild(item);
        {% endfor %}
    }

    function shuffle(input_array){
        var shuffled_array = new Array();
        var track;
        while(input_array.length > 0){
            rand = Math.floor(Math.random() * input_array.length);
            console.log(input_array.length + ", " + rand);
            track = input_array.splice(rand, 1);
            var clone = new Object();
            clone.name = track.name;
            clone.path = track.path
            shuffled_array.push(clone);
        }
        return shuffled_array;
    }

    // Play the first track
    function start_playlist() {
        audio_element.src = playlist[track_num].path;
        playing_element.innerHTML = playlist[track_num].title;
        audio_element.play();
        //play_track(playlist[track_num].path);
    }

    // Play next track
    function next_track() {
        console.log("Playing track " + track_num);
        if (track_num < playlist.length) {
            audio_element.src = playlist[track_num].path;
            playing_element.innerHTML = playlist[track_num].title;
            try {
                audio_element.play();
            } catch(err) {
                console.log("error playing track: " + err)
            }
            track_num = track_num + 1;
            // play_track(playlist[track_num].path);
        }
    }

</script>
{% endblock %}
</head>
<body {% block onload %} onload = "init()" {% endblock %} >
    {% block body %}
    <h1>{{ album_title }}</h1>
    <p id="playing" style="font-weight:bold;"></p>
    <audio controls id="audio" onended="next_track()" ></audio>
    <ol id = "track_list"></ol>
    {% endblock %}
</body>
</html>
