{% extends "base.html" %}
{% block head %}
    <title>List Tags to Play</title>
    <script>
        $(function() {
            $("#nav-listen").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
    <ul class="subnav">
        <li><a href = "{{ url_for('listLibrary')}}">Library</a></li>
        <li><a href = "{{ url_for('playRandomAlbum')}}">Random Album</a></li>
        <li><a href = "{{ url_for('playTags') }}" class = "selected">Tag</a></li>
    </ul>
    {% endblock %}
    {% block left %}
    <h1>Select Tags to Play</h1>
    <form action = "{{ url_for('playTagsTracks') }}" method = "post">
        <fieldset><legend>Mode</legend>
        <input type = "radio" name = "mode" value = "any" id  = "any" checked = "checked" />
        <label for = "any">Tracks with any selected tag</label><br />
        <input type = "radio" name = "mode" value = "all" id  = "all" />
        <label for = "all">Tracks with all selected tags</label>
        </fieldset>
        <fieldset><legend>Tags</legend>
        {% for tag in tags %}
        <input type = "checkbox" id = "{{ tag.id }}" value = "{{ tag.id }}" name = "selected_tags" />
        <label for = "{{ tag.id }}">{{ tag.name }}</label>&nbsp;
        {% endfor %}
        </fieldset>
    <br /><input type = "submit" value = "Submit" />
    </form>
{% endblock %}
