{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <script>

    var playlist = new Array();
    var track_num;
    // var ajax_url;

    $(function() {
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        // ajax_url = $SCRIPT_ROOT + '/_ajax_track_played';
        track_num = 0;
        make_playlist();

        $('#submit_change').click (
                function() {
                    $.getJSON('/_ajax_save_track', {
                        track_rating: $('input[name="track_rating"]').val(),
                        tag_select: $('input[name = "tag_select"]').val(),
                        track_title: $('input[name = "track_title"]').val(),
                        track_id: track_editing
                    },
                    function(data) {
                        console.log(data);
                    });
                    $('#track_details').hide();
                }
        );
        next_track();
    });

    // Convert the JSON array into local URLs
    function make_playlist(){
        {% for track in tracks %}
            track = new Object();
            track.title = "{{ track.title }}";
            track.id = "{{ track.id }}"
            var temp_path = "{{ track.path }}".replace("&#39;","'");
            temp_path = temp_path.replace("&amp;", "&");
            track.path = temp_path;
            playlist.push(track);
            var item = document.createElement("li");
            item.id = "track_" + track.id;

            var textnode = document.createTextNode("{{ track.track_number }} {{ track.title }}".replace("&#39;","'").replace("&amp;", "&"));
            item.appendChild(textnode);
            $("#track_list").append(item);

            // Set up listener for track edit
            $('#track_{{ track.id }}').click (
                function() {
                    track_editing = {{ track.id }};
                    console.log("Edit track #" + track_editing);
                    $('#tag_select').find('option').remove();
                    $('#track_details').show();
                    $('#track_title').val("{{ track.title }}");
                    $.getJSON('/_ajax_edit_track', { "track_id":{{ track.id }} },
                    function(data) {
                        var selected_tags = JSON.stringify(data['selected_tags']);
                        $("#track_rating").val(data.rating);
                        // Populate select with available tags
                        for (var i = 1; i <= Object.keys(data["all_tags"]).length; i++) {
                            var current_tag = data["all_tags"][i];
                            if (selected_tags.indexOf(current_tag) > 0) {
                                $('#tag_select').append($("<option selected></option>")
                            .attr("value",i).text(current_tag));
                            } else {
                                $('#tag_select').append($("<option></option>")
                            .attr("value",i).text(current_tag));
                            }
                        }
                    });
                });
        {% endfor %}
    }

    // Play next track
    function next_track() {
        if (track_num < playlist.length) {
            $.getJSON('/_ajax_track_played', { "track_id":playlist[track_num].id }, function(data) {
                    console.log(data)
                    $("#title").text(data.title);
                    $("#rating").text(data.rating);
                    $("#times_played").text(data.times_played);
                });
            $("#audio").attr("src", playlist[track_num].path);
            var display_name = playlist[track_num].title.replace("&#39;","'").replace("&amp;", "&");
            $("#playing").text(display_name);

            try {
                $("#audio").trigger("play");
            } catch(err) {
                console.log("error playing track: " + err)
            }
            track_num = track_num + 1;
        }
    }

</script>
{% endblock %}
</head>
<body >
    {% block left %}
    <h1>{{ album_title }}</h1>
    <p id = "playing" style="font-weight:bold;"></p>
    <audio controls id="audio" onended="next_track()" ></audio>
    <ul id = "track_list"></ul>
    <a href="javascript:next_track();">Skip</a>
    {% endblock %}
    {% block right %}
    <div id = "track_details" style = "display: none;">
        <h3>Edit Track</h3>
        <input type = "text" name = "track_title" id = "track_title" />
        <p>Rating</p>
        <select name = "track_rating" id="track_rating" size = 4>
            <option value = "1">*</option>
            <option value = "2">**</option>
            <option value = "3">***</option>
            <option value = "4">****</option>
        </select>
        <div>Tags:<br /><select multiple name = "tag_select" id = "tag_select"></select></div>
        <div><button type = "button" id = "submit_change">Submit</button></div>
    </div>
    {% endblock %}
</body>
</html>
