{% extends "base.html" %}
<!doctype html>
<html>
<head>
    {% block head %}
    <title>Scan Results</title>
    {% endblock %}
</head>
<body>

    {% block left %}
    <h1>Found in {{ current_path }}/</h1>
        <h2>Artists</h2>
        <ol>
        {% for artist in artists %}
            <li>{{ artist }}</li>
        {% endfor %}
    </ol>
    {% endblock %}
    {% block right%}
        <h2>Albums</h2>
        <ol>
        {% for album in albums %}
            <li>{{ album }}</li>
        {% endfor %}
        </ol>
    {% endblock %}
</body>
</html>
