{% extends "base.html" %}
{% block head %}
    <title>Tag Performer</title>
    <script>
        $(function() {
            $("#nav-organize").addClass("selected");
        });
    </script>
{% endblock %}
{% block navigation %}
        <li><a href = "{{ url_for('listPerformers') }}">Performers</a></li>
        <li><a href = "{{ url_for('listAlbums')}}">Albums</a></li>
        <li><a href = "{{ url_for('listTags') }}" class = "selected">Tags</a></li>
        <li><a href = "{{ url_for('listTracks') }}">Tracks</a></li>
{% endblock %}
{% block left %}
    <h1>Tag Performer {{ performer.name }}</h1>
    <form action = "{{ url_for('tagAllPerformerTracks', performer_id = performer.id) }}" method = "post">
        <select multiple size = {{ tags|length }} name = "tags" id = "tags">
        {% for tag in tags %}
            <option value = "{{ tag.id }}">{{ tag.name }}</option>
        {% endfor %}
        </select>
        <p><input type = "submit" value = "Submit" /></p>
    </form>
{% endblock %}
